@import "tailwindcss";

@theme {
  --color-accent: #5855ff;
  --color-see-thru-black: rgba(0, 0, 0, 0.7);
  --color-input-bg: #3C3C43;
  --color-input-text: #CAB9B9;
  --color-action-btn: #D9D9D9;
  --color-panel-border: #787878;
  /* --my-bg:  */
}

body {
  @apply bg-[url("/backgrounds/splash.png")] bg-contain bg-see-thru-black;
}